@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url('https://rsms.me/inter/inter.css');

html,
body {
  scroll-behavior: smooth;
  max-width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-image: linear-gradient(
    111deg,
    hsl(240deg 41% 3%) 0%,
    hsl(243deg 58% 4%) 25%,
    hsl(246deg 58% 9%) 45%,
    hsl(250deg 59% 9%) 59%,
    hsl(254deg 60% 9%) 69%,
    hsl(257deg 67% 7%) 77%,
    hsl(259deg 70% 7%) 84%,
    hsl(261deg 72% 8%) 89%,
    hsl(263deg 75% 8%) 95%,
    hsl(256deg 66% 7%) 100%
  )
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
